    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    body {
        background-color: #000000;
    }

    header {
        background: #ffffff;
        height: 80vh;
        display: flex;
        align-items: top;
        justify-content: center;
        color: white;
        background-image: linear-gradient(#e4e4e4 1px, transparent 1px),
        linear-gradient(90deg, #e4e4e4 1px, transparent 1px);
        background-size: 10px 10px, 10px 10px, 2px 2px, 2px 2px;
    }

    header h1 {
        font-size: 9em;
        font-style: bold;
        line-height: 1.2;
        text-align: center;
        color: #000000;
        text-shadow: 2px 2px 2px #a74a4a;
 
        top: 0;
        position: sticky;
    }

    h1 {
        font-size: 280%;
        font-weight: 1000;
        color: #a74a4a;
    }
    nav {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    ul {
        background: #000000;
        display: flex;
        list-style: none;
        width: 100%;
        font-size: 18px;
        height: 10vh;
        align-items: center;
        justify-content: space-evenly;
    }

    a {
        color: #dbdcd7;
        text-decoration: none;
        text-transform: uppercase;
    }


    section {
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 200;
        line-height: 2;
        color: rgb(223, 23, 23);
        padding-top: 0vh;
    }



    .link {
        color:#d63031;
        display: inline-block;
        font-size: 20px;
        margin: 50px 0 100px;
        border-bottom: 1px dashed #d63031;
        text-transform: none;
    }

  


    .container {
        width: 500%;
        max-width: 800px;
        margin: 50px auto;
        background-color: transparent;
        padding: 5%;
   
        border-size: 1px;
        border-color: rgb(250, 248, 248);
    }


    #div-box {
        background-color: transparent;
        font-size: 20px;
        color: #e4e4e4;
        width: 800px;
        height: 500px;
        position: sticky;
        bottom: 50px;
        z-index: 10;
        text-align: right;

    }
    
